* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  background-image: url("./ing.jpg");
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: aliceblue;
}

p {
  color: antiquewhite;
}
